Repository zowe/zowe-explorer-vscode, pull requests merged in 2020-04, with the labels that each got.

#696 Issue #694: Create profile integration tests
  __tests__/__integration__/Profiles.integration.test.ts
Labels: Profiles

#680 Fix issue 648 - Context value of undefined on new member save
  __tests__/__unit__/extension.unit.test.ts
  src/dataset/actions.ts
Labels: bug

#704 Additional regexp tests
  __tests__/__unit__/shared/context.unit.test.ts
  i18n/sample/src/dataset/actions.i18n.json
  src/dataset/DatasetTree.ts
  src/dataset/ZoweDatasetNode.ts
  src/dataset/actions.ts
  src/dataset/dsNodeActions.ts
  src/dataset/utils.ts
  src/job/ZosJobsProvider.ts
  src/job/actions.ts
  src/shared/actions.ts
  src/shared/context.ts
  src/uss/USSTree.ts
  src/uss/ZoweUSSNode.ts
  src/uss/actions.ts
Labels: API Extender

#705 Profile link work
  __mocks__/@zowe/cli.ts
  __mocks__/@zowe/imperative.ts
  __mocks__/fs.ts
  __tests__/__unit__/DatasetTree.unit.test.ts
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/ZoweNode.unit.test.ts
  __tests__/__unit__/ZoweUSSNode.unit.test.ts
  __tests__/__unit__/__snapshots__/extension.unit.test.ts.snap
  __tests__/__unit__/extension.unit.test.ts
  __tests__/__unit__/shared/context.unit.test.ts
  __tests__/__unit__/utils/profileLink.unit.test.ts
  docs/README-Extending.md
  docs/images/ZE-profile-links.gif
  i18n/sample/src/uss/ZoweUSSNode.i18n.json
  i18n/sample/src/utils/profileLink.i18n.json
  package.json
  resources/dark/file_type_db.svg
  resources/dark/link.svg
  resources/light/file_type_db.svg
  resources/light/link.svg
  src/Profiles.ts
  src/api/ZoweExplorerApi.ts
  src/api/ZoweExplorerApiRegister.ts
  src/api/ZoweExplorerExtender.ts
  src/dataset/ZoweDatasetNode.ts
  src/extension.ts
  src/generators/icons/index.ts
  src/generators/icons/items/vsam.ts
  src/globals.ts
  src/shared/context.ts
  src/utils/profileLink.ts
Labels: API Extender

#689 feat: add support for deleting profiles
  __mocks__/@zowe/imperative.ts
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/__snapshots__/extension.unit.test.ts.snap
  __tests__/__unit__/extension.unit.test.ts
  i18n/sample/package.i18n.json
  i18n/sample/src/Profiles.i18n.json
  package.json
  package.nls.json
  src/PersistentFilters.ts
  src/Profiles.ts
  src/extension.ts
Labels: Profiles

#690 Feat: Support editing the connection details stored in profiles
  __mocks__/@zowe/imperative.ts
  __tests__/__unit__/DatasetTree.unit.test.ts
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/USSTree.unit.test.ts
  __tests__/__unit__/ZoweJobNode.unit.test.ts
  __tests__/__unit__/__snapshots__/extension.unit.test.ts.snap
  __tests__/__unit__/extension.unit.test.ts
  i18n/sample/package.i18n.json
  i18n/sample/src/Profiles.i18n.json
  package.json
  package.nls.json
  src/Profiles.ts
  src/abstract/ZoweTreeProvider.ts
  src/api/IZoweTree.ts
  src/dataset/DatasetTree.ts
  src/extension.ts
  src/job/ZosJobsProvider.ts
  src/uss/USSTree.ts
  src/utils.ts
Labels: 20PI2, Profiles

#720 Basic extender documentation
  README.md
  docs/README-Extending.md
  docs/images/ZE-basic.gif
  docs/images/ZE-extend.gif
  docs/images/ZE-profile-api.gif
Labels: API Extender

#719 Issue #718: Add back addRecall to openPS
  __tests__/__integration__/DatasetTree.integration.test.ts
  __tests__/__integration__/extension.integration.test.ts
  __tests__/__unit__/DatasetTree.unit.test.ts
  __tests__/__unit__/USSTree.unit.test.ts
  __tests__/__unit__/extension.unit.test.ts
  src/PersistentFilters.ts
  src/Profiles.ts
  src/dataset/actions.ts
Labels: bug

#725 Refresh profile cache when new type is registered (Issue #528)
  __tests__/__unit__/api/ZoweExplorerApiRegister.unit.test.ts
  package-lock.json
  package.json
  src/ZoweExplorerExtender.ts
  src/api/ZoweExplorerApi.ts
  src/api/ZoweExplorerApiRegister.ts
Labels: API Extender, Profiles

#741 Update the ReadMe file
  README.md
Labels: Profiles, doc
