Repository zowe/zowe-explorer-vscode, pull requests merged in 2020-05, with the labels that each got.

#777 Fix deleting profiles (issue #743)
  i18n/sample/src/Profiles.i18n.json
  src/Profiles.ts
Labels: Profiles

#783 Fixes for v1.5.1
  .gitignore
  CHANGELOG.md
  Jenkinsfile
  __tests__/__unit__/KeytarCredentialManager.unit.test.ts
  __tests__/__unit__/dataset/dsNodeActions.unit.test.ts
  __tests__/__unit__/job/jobNodeActions.unit.test.ts
  __tests__/__unit__/uss/ussNodeActions.unit.test.ts
  __tests__/__unit__/utils/profileLink.unit.test.ts
  i18n/sample/src/Profiles.i18n.json
  package-lock.json
  package.json
  src/KeytarCredentialManager.ts
  src/Profiles.ts
  src/abstract/ZoweTreeProvider.ts
  theia_tests.Jenkinsfile
Labels: in progress

#717 Create and Edit Connection with any other profile types (#631)
  .vscode/launch.json
  __tests__/__integration__/Profiles.integration.test.ts
  __tests__/__unit__/Profiles.unit.test.ts
  i18n/sample/src/Profiles.i18n.json
  src/Profiles.ts
Labels: Profiles

#721 Refactor shared tests
  __mocks__/mockCreators/api.ts
  __mocks__/mockCreators/datasets.ts
  __mocks__/mockCreators/jobs.ts
  __mocks__/mockCreators/shared.ts
  __mocks__/mockCreators/uss.ts
  __tests__/__unit__/dataset/dsNodeActions.unit.test.ts
  __tests__/__unit__/extension.unit.test.ts
  __tests__/__unit__/shared/actions.unit.test.ts
  __tests__/__unit__/shared/utils.unit.test.ts
Labels: Tests

#703 Refactoring of Job Action Unit Tests
  __mocks__/generators/api.ts
  __mocks__/generators/datasets.ts
  __mocks__/generators/jobs.ts
  __mocks__/generators/shared.ts
  __mocks__/generators/uss.ts
  __tests__/__unit__/extension.unit.test.ts
  __tests__/__unit__/job/actions.unit.test.ts
Labels: Tests

#800 Issue #654: Refactoring of ZoweUSSNode.unit.test.ts
  __mocks__/generators/api.ts
  __mocks__/generators/datasets.ts
  __mocks__/generators/jobs.ts
  __mocks__/generators/shared.ts
  __mocks__/generators/uss.ts
  __mocks__/mockCreators/api.ts
  __mocks__/mockCreators/datasets.ts
  __mocks__/mockCreators/jobs.ts
  __mocks__/mockCreators/shared.ts
  __mocks__/mockCreators/uss.ts
  __mocks__/path.ts
  __tests__/__unit__/ZoweJobNode.unit.test.ts
  __tests__/__unit__/ZoweUSSNode.unit.test.ts
  __tests__/__unit__/extension.unit.test.ts
  __tests__/__unit__/job/actions.unit.test.ts
  __tests__/__unit__/shared/actions.unit.test.ts
  __tests__/__unit__/shared/utils.unit.test.ts
  __tests__/__unit__/uss/ZoweUSSNode.unit.test.ts
  __tests__/__unit__/uss/__snapshots__/ZoweUSSNode.unit.test.ts.snap
  __tests__/__unit__/uss/actions.unit.test.ts
  __tests__/__unit__/uss/ussNodeActions.unit.test.ts
  src/__mocks__/USSTree.ts
  src/dataset/actions.ts
  src/dataset/dsNodeActions.ts
  src/job/ZosJobsProvider.ts
  src/job/actions.ts
  src/shared/utils.ts
  src/uss/actions.ts
Labels: Technical Debt, Tests, USS

#807 Issue #654: Refactoring of USSTree.unit.test.ts
  .vscode/launch.json
  __mocks__/mockCreators/shared.ts
  __mocks__/mockCreators/uss.ts
  __tests__/__unit__/USSTree.unit.test.ts
  __tests__/__unit__/USSTreeBeforeRefactoring.unit.test.ts
  __tests__/__unit__/ZoweUSSNode.unit.test.ts
  __tests__/__unit__/__snapshots__/ZoweUSSNode.unit.test.ts.snap
  __tests__/__unit__/job/actions.unit.test.ts
  __tests__/__unit__/job/jobNodeActions.unit.test.ts
  __tests__/__unit__/shared/utils.unit.test.ts
  __tests__/__unit__/uss/USSTree.unit.test.ts
  __tests__/__unit__/uss/__snapshots__/ZoweUSSNode.unit.test.ts.snap
  __tests__/__unit__/uss/ussNodeActions.unit.test.ts
Labels: Technical Debt, Tests, USS

#772 Dataset Tests refactoring
  __mocks__/mockCreators/shared.ts
  __tests__/__unit__/dataset/actions.unit.test.ts
  __tests__/__unit__/extension.unit.test.ts
Labels: Tests

#785 Fix issue #746: Persistent recent file array deals better with received paths
  src/PersistentFilters.ts
Labels: bug

#810 Issue #654: Refactor unit tests (leftovers from actions.unit.test.ts files)
  __mocks__/mockCreators/uss.ts
  __tests__/__unit__/extension.unit.test.ts
  __tests__/__unit__/shared/actions.unit.test.ts
  __tests__/__unit__/uss/actions.unit.test.ts
  src/__mocks__/USSTree.ts
  src/uss/ZoweUSSNode.ts
Labels: Technical Debt, Tests

#811 docs: updates from v1.5.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: doc
