Repository zowe/zowe-explorer-vscode, pull requests merged in 2020-06, with the labels that each got.

#790 Issue #350: Disallow multiple profiles with same name but different capitalizations
  src/Profiles.ts
Labels: Profiles, bug

#840 Issue #310: Adding star icon for favorites
  __tests__/__unit__/uss/USSTree.unit.test.ts
  resources/dark/folder-root-favorite-star-closed.svg
  resources/dark/folder-root-favorite-star-open.svg
  resources/light/folder-root-favorite-star-closed.svg
  resources/light/folder-root-favorite-star-open.svg
  src/generators/icons/items/sessionFavourite.ts
Labels: UX

#827 Issue #654: Refactor profiles unit tests
  __mocks__/@zowe/imperative.ts
  __mocks__/mockCreators/datasets.ts
  __mocks__/mockCreators/jobs.ts
  __mocks__/mockCreators/profiles.ts
  __mocks__/mockCreators/shared.ts
  __mocks__/mockCreators/uss.ts
  __tests__/__integration__/extension.integration.test.ts
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/dataset/dsNodeActions.unit.test.ts
  __tests__/__unit__/extension.unit.test.ts
  __tests__/__unit__/job/actions.unit.test.ts
  __tests__/__unit__/shared/actions.unit.test.ts
  __tests__/__unit__/uss/USSTree.unit.test.ts
  __tests__/__unit__/uss/ZoweUSSNode.unit.test.ts
  i18n/sample/src/Profiles.i18n.json
  i18n/sample/src/extension.i18n.json
  src/Profiles.ts
  src/abstract/ZoweTreeProvider.ts
  src/api/IZoweTree.ts
  src/dataset/DatasetTree.ts
  src/extension.ts
  src/globals.ts
  src/job/ZosJobsProvider.ts
  src/uss/USSTree.ts
Labels: Profiles, Technical Debt, Tests

#842 fix: Add Current Profile checking
  __tests__/__unit__/command/mvsCommandHandler.unit.test.ts
  __tests__/__unit__/command/mvsCommandHandlerTheia.unit.test.ts
  i18n/sample/src/command/MvsCommandHandler.i18n.json
  src/command/MvsCommandHandler.ts
  src/extension.ts
Labels: Profiles

#851 Issue #311: Add/remove favorites with star button
  __tests__/__unit__/__snapshots__/extension.unit.test.ts.snap
  package.json
  resources/dark/favorites-close-dark.svg
  resources/dark/favorites-open-dark.svg
  resources/dark/folder-root-favorite-star-closed.svg
  resources/dark/folder-root-favorite-star-open.svg
  resources/light/favorites-close-light.svg
  resources/light/favorites-open-light.svg
  resources/light/folder-root-favorite-star-closed.svg
  resources/light/folder-root-favorite-star-open.svg
  src/generators/icons/items/sessionFavouriteOpen.ts
Labels: UX, backlog

#847 Issue #701: Improve messaging for confirmation dialogues
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/dataset/actions.unit.test.ts
  __tests__/__unit__/uss/ZoweUSSNode.unit.test.ts
  i18n/sample/src/Profiles.i18n.json
  i18n/sample/src/dataset/actions.i18n.json
  i18n/sample/src/uss/ZoweUSSNode.i18n.json
  src/Profiles.ts
  src/dataset/actions.ts
  src/uss/ZoweUSSNode.ts
Labels: UX

#857 Issue #654: TreeProvider unit test refactoring
  __mocks__/mockCreators/uss.ts
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/USSTreeBeforeRefactoring.unit.test.ts
  __tests__/__unit__/abstract/TreeProvider.unit.test.ts
  __tests__/__unit__/shared/actions.unit.test.ts
  __tests__/__unit__/uss/ZoweUSSNode.unit.test.ts
  __tests__/__unit__/uss/actions.unit.test.ts
Labels: Technical Debt, Tests, backlog

#828 Fix: Issue #789 Update Check Creds in yaml file
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/ZoweNode.unit.test.ts
  __tests__/__unit__/utils.unit.test.ts
  i18n/sample/src/Profiles.i18n.json
  i18n/sample/src/utils.i18n.json
  package-lock.json
  src/Profiles.ts
  src/dataset/ZoweDatasetNode.ts
  src/job/ZoweJobNode.ts
  src/uss/ZoweUSSNode.ts
  src/utils.ts
Labels: Profiles

#831 Issue #386: Support editing filters
  __tests__/__unit__/ZoweJobNode.unit.test.ts
  __tests__/__unit__/dataset/DatasetTree.unit.test.ts
  __tests__/__unit__/uss/USSTree.unit.test.ts
  src/dataset/DatasetTree.ts
  src/job/ZosJobsProvider.ts
  src/uss/USSTree.ts
Labels: UX, enhancement

#886 Issue #654: Refactor ZoweJobNode unit tests
  __mocks__/mockCreators/jobs.ts
  __mocks__/mockCreators/shared.ts
  __tests__/__unit__/Profiles.unit.test.ts
  __tests__/__unit__/ZoweJobNode.unit.test.ts
  __tests__/__unit__/abstract/TreeProvider.unit.test.ts
  __tests__/__unit__/dataset/DatasetTree.unit.test.ts
  __tests__/__unit__/job/ZoweJobNode.unit.test.ts
  __tests__/__unit__/shared/actions.unit.test.ts
  src/abstract/ZoweTreeProvider.ts
Labels: Jobs, Technical Debt, Tests

#894 Issue #654: Refactor extension.unit.test.ts
  __tests__/__unit__/__snapshots__/extension.unit.test.ts.snap
  __tests__/__unit__/extension.unit.test.ts
  src/globals.ts
Labels: Technical Debt, Tests
