Repository zowe/zowe-explorer-vscode, pull requests merged in 2021-05, with the labels that each got.

#1268 Theia tests: updated according to zowe-cli 6.30.0
  packages/zowe-explorer/__tests__/__theia__/extension.theia.test.ts
  packages/zowe-explorer/__tests__/__theia__/theia/Locators.ts
  packages/zowe-explorer/__tests__/__theia__/theia/extension.theiaChrome.ts
  packages/zowe-explorer/__tests__/__theia__/theia/extension.theiaFirefox.ts
Labels: Tests, Theia

#1304 Issue #1266: stop job command error
  packages/zowe-explorer/__tests__/__unit__/ZoweNode.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/dataset/DatasetTree.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/shared/utils.unit.test.ts
  packages/zowe-explorer/src/dataset/DatasetTree.ts
  packages/zowe-explorer/src/dataset/ZoweDatasetNode.ts
  packages/zowe-explorer/src/job/ZoweJobNode.ts
  packages/zowe-explorer/src/shared/refresh.ts
  packages/zowe-explorer/src/uss/ZoweUSSNode.ts
  packages/zowe-explorer/src/utils/ProfilesUtils.ts
Labels: bug

#1298 Issue #1124: Remove port prompt
  packages/zowe-explorer-api/src/profiles/ProfilesCache.ts
  packages/zowe-explorer/__tests__/__unit__/Profiles.unit.test.ts
  packages/zowe-explorer/src/Profiles.ts
Labels: Profiles, UX, backlog

#1313 Fix trailing slash issue in USS search
  packages/zowe-explorer/src/PersistentFilters.ts
  packages/zowe-explorer/src/globals.ts
  packages/zowe-explorer/src/uss/USSTree.ts
Labels: USS, bug

#1314 Zowe Explorer 1.15.0 Changelog and RNs update
  packages/zowe-explorer-ftp-extension/CHANGELOG.md
  packages/zowe-explorer-ftp-extension/README.md
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/README.md
Labels: docs
