Repository zowe/zowe-explorer-vscode, pull requests merged in 2021-01, with the labels that each got.

#971 Issue #757: Renaming USS directory changes tree structure
  packages/zowe-explorer/__tests__/__unit__/uss/USSTree.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/uss/actions.unit.test.ts
  packages/zowe-explorer/i18n/sample/src/uss/USSTree.i18n.json
  packages/zowe-explorer/src/uss/USSTree.ts
Labels: USS, bug

#957 Issue #734: Context menu & menu bar edits
  packages/zowe-explorer/README.md
  packages/zowe-explorer/__mocks__/mockCreators/uss.ts
  packages/zowe-explorer/__tests__/__integration__/extension.integration.test.ts
  packages/zowe-explorer/__tests__/__unit__/dataset/actions.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/extension.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/uss/USSTree.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/uss/actions.unit.test.ts
  packages/zowe-explorer/i18n/sample/package.i18n.json
  packages/zowe-explorer/i18n/sample/src/dataset/DatasetTree.i18n.json
  packages/zowe-explorer/i18n/sample/src/dataset/actions.i18n.json
  packages/zowe-explorer/i18n/sample/src/uss/actions.i18n.json
  packages/zowe-explorer/package.json
  packages/zowe-explorer/package.nls.json
  packages/zowe-explorer/src/dataset/DatasetTree.ts
  packages/zowe-explorer/src/dataset/actions.ts
  packages/zowe-explorer/src/dataset/utils.ts
  packages/zowe-explorer/src/extension.ts
  packages/zowe-explorer/src/uss/USSTree.ts
  packages/zowe-explorer/src/uss/actions.ts
Labels: UX

#1152 FTP and API Readme updates
  packages/zowe-explorer-api/README.md
  packages/zowe-explorer-ftp-extension/README.md
  packages/zowe-explorer-ftp-extension/docs/README.md
  packages/zowe-explorer-ftp-extension/package.json
  packages/zowe-explorer-ftp-extension/resources/zowe_ftp_logo.png
  packages/zowe-explorer-ftp-extension/zowe_logo.png
Labels: docs

#1092 Issue #1031: Enable editing of DS attributes on allocation
  packages/zowe-explorer/__mocks__/@zowe/cli.ts
  packages/zowe-explorer/__mocks__/mockCreators/shared.ts
  packages/zowe-explorer/__tests__/__integration__/extension.integration.test.ts
  packages/zowe-explorer/__tests__/__unit__/dataset/actions.unit.test.ts
  packages/zowe-explorer/i18n/sample/src/dataset/actions.i18n.json
  packages/zowe-explorer/i18n/sample/src/globals.i18n.json
  packages/zowe-explorer/src/dataset/actions.ts
  packages/zowe-explorer/src/globals.ts
  packages/zowe-explorer/src/utils/ProfilesUtils.ts
Labels: Datasets, enhancement
