Repository zowe/zowe-explorer-vscode, pull requests merged in 2022-10, with the labels that each got.

#1945 reorganizing use cases, other improvements
  docs/images/ZE-submit-jcl.gif
  docs/images/ze-access-multiple-profiles-simultaneously.gif
  packages/zowe-explorer/README.md
Labels: docs

#1969 Add option for non secure profile creation
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/__mocks__/vscode.ts
  packages/zowe-explorer/__tests__/__unit__/extension.unit.test.ts
  packages/zowe-explorer/i18n/sample/package.i18n.json
  packages/zowe-explorer/package.json
  packages/zowe-explorer/package.nls.json
  packages/zowe-explorer/src/Profiles.ts
  packages/zowe-explorer/src/extension.ts
  packages/zowe-explorer/src/globals.ts
  yarn.lock
Labels: eclipse-che

#1991 fix(deploy): Use node12 for deployment
  .github/actions/deploy-npm-package/action.yml
  .github/actions/deploy-vscode-extension/action.yml
Labels: no-changelog

#1990 Update version 2.5.0-SNAPSHOT
  package.json
  packages/eslint-plugin-zowe-explorer/package.json
  packages/zowe-explorer-api/CHANGELOG.md
  packages/zowe-explorer-api/package.json
  packages/zowe-explorer-ftp-extension/package.json
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/package.json
Labels: no-changelog
