Repository zowe/zowe-explorer-vscode, pull requests merged in 2024-06, with the labels that each got.

#2933 Port 2.16.1 to Main
  packages/eslint-plugin-zowe-explorer/CHANGELOG.md
  packages/zowe-explorer-api/CHANGELOG.md
  packages/zowe-explorer-ftp-extension/CHANGELOG.md
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/__mocks__/mockCreators/datasets.ts
  packages/zowe-explorer/__mocks__/mockCreators/jobs.ts
  packages/zowe-explorer/__mocks__/mockCreators/shared.ts
  packages/zowe-explorer/__mocks__/mockCreators/uss.ts
  packages/zowe-explorer/__tests__/__unit__/Profiles.extended.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/ZoweExplorerExtender.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/abstract/ZoweTreeProvider.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/dataset/DatasetTree.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/dataset/ZoweDatasetNode.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/dataset/actions.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/extension.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/job/actions.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/mvs/mvsNodeActions.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/shared/HistoryView.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/utils/SessionUtils.unit.test.ts
  packages/zowe-explorer/src/Profiles.ts
  packages/zowe-explorer/src/abstract/ZoweTreeProvider.ts
  packages/zowe-explorer/src/dataset/DatasetTree.ts
  packages/zowe-explorer/src/job/ZosJobsProvider.ts
  packages/zowe-explorer/src/uss/USSTree.ts
Labels: no-changelog

#2915 v3: Move DS Template storage setting
  docs/early-access/v3/Extenders.md
  packages/zowe-explorer-api/CHANGELOG.md
  packages/zowe-explorer-api/src/tree/IZoweTree.ts
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/__tests__/__unit__/configuration/SettingsConfig.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/tools/ZowePersistentFilters.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/trees/dataset/DatasetTemplate.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/trees/dataset/DatasetTree.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/trees/shared/SharedHistoryView.unit.test.ts
  packages/zowe-explorer/l10n/bundle.l10n.json
  packages/zowe-explorer/l10n/poeditor.json
  packages/zowe-explorer/package.json
  packages/zowe-explorer/package.nls.json
  packages/zowe-explorer/src/configuration/Constants.ts
  packages/zowe-explorer/src/configuration/SettingsConfig.ts
  packages/zowe-explorer/src/tools/ZowePersistentFilters.ts
  packages/zowe-explorer/src/trees/dataset/DatasetActions.ts
  packages/zowe-explorer/src/trees/dataset/DatasetTemplates.ts
  packages/zowe-explorer/src/trees/dataset/DatasetTree.ts
  packages/zowe-explorer/src/trees/shared/SharedHistoryView.ts
  packages/zowe-explorer/src/webviews/src/edit-history/components/PersistentToolBar/PersistentDropdownOptions.tsx
Labels: v3, Breaking Change

#2945 Port items to next tagged jilliebeansimm
  packages/zowe-explorer-ftp-extension/CHANGELOG.md
  packages/zowe-explorer-ftp-extension/src/ZoweExplorerFtpJesApi.ts
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/__tests__/__unit__/trees/dataset/DatasetTree.unit.test.ts
  packages/zowe-explorer/src/trees/dataset/DatasetInit.ts
  packages/zowe-explorer/src/trees/dataset/DatasetTree.ts
  packages/zowe-explorer/src/trees/job/JobInit.ts
  packages/zowe-explorer/src/trees/job/ZoweJobNode.ts
  packages/zowe-explorer/src/trees/uss/USSInit.ts
Labels: no-changelog

#2958 Port 2.16.2 to Main
  package.json
  packages/eslint-plugin-zowe-explorer/CHANGELOG.md
  packages/zowe-explorer-api/CHANGELOG.md
  packages/zowe-explorer-api/package.json
  packages/zowe-explorer-ftp-extension/CHANGELOG.md
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/__tests__/__unit__/SpoolProvider.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/job/actions.unit.test.ts
  packages/zowe-explorer/__tests__/__unit__/utils/ProfilesUtils.unit.test.ts
  packages/zowe-explorer/i18n/sample/src/job/actions.i18n.json
  packages/zowe-explorer/src/SpoolProvider.ts
  packages/zowe-explorer/src/job/actions.ts
  packages/zowe-explorer/src/utils/ProfilesUtils.ts
  samples/uss-profile-sample/package.json
  yarn.lock
Labels: no-changelog

#2969 Update to ZE setting's scope
  packages/zowe-explorer/CHANGELOG.md
  packages/zowe-explorer/l10n/poeditor.json
  packages/zowe-explorer/package.json
  packages/zowe-explorer/package.nls.json
Labels: v3

#2979 Fix Theia integration tests
  .github/workflows/theia-zowe-explorer-ci.yml
  packages/zowe-explorer/__tests__/__theia__/theia/Locators.ts
  packages/zowe-explorer/__tests__/__theia__/theia/extension.theiaChrome.ts
  packages/zowe-explorer/__tests__/__theia__/theia/extension.theiaFirefox.ts
Labels: no-changelog
